{% extends "base.html" %}
{% block title %} Inicio  {% endblock title %}

{% block background  %}{% load static %}{% static 'img/inicio-bg.jpg' %}{% endblock %}
{% block header  %}
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>FERRETERIA ROELMAX SA</h1>
              <span class="subheading">LOS MEJORES PRECIOS DEL MERCADO</span>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block content %}

{% endblock %}